* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: black;
}

button {
  padding: 5px 10px;
}

.active {
  padding: 5px;
  border: 2px solid black;
}

.container {
  margin: auto;
  width: 95%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5%;
  overflow: hidden;
}

.cardImg {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.loading {
  width: 700px;
  height: 700px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/giphy.gif");
  display: none;
  z-index: 9999;
  transition: width 0.3s ease;
}
